/* CSS for MM theme */

/* Typography ------------------------------------------------------------- */
body {
  font-size: 100%; /* For stupid IE */
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  line-height: 1.35em;
}

#page-wrapper {
  font-size: .92em;
}

a {
  color: #00f;
}

a:visited {
  color: #00c;
}

a:hover,
a:active {
  color: #a67c00;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.35em;
  margin: 0;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 110%;
}

h5, h6 {
  font-size: 100%;
}

blockquote {
  background-color: #eee;
  border-left: 2px solid #999;
  margin-left: 1.5em;
  padding: .5em 1.75em;
}

pre {
  background: #eee;
  border: 1px solid #999;
  line-height: 1.2em;
}

code {
  background: #eee;
  font-family: Consolas, 'Lucida Console', Monaco, Courier, monospace;
  font-size: 80%;
  line-height: .7em;
}

dt {
  font-weight: bold;
  margin-top: .5em;
}

dt:first-child {
  margin-top: 0;
}

dd {
  margin-left: 1em;
}

del {
  color: #800;
  text-decoration: line-through;
}

ins {
  color: #080;
}

/* General Classes -------------------------------------------------------- */
p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

li {
  margin-top: .4em;
}

li:first-child {
  margin-top: 0;
}

table {
  width: 100%;
}

th, td {
  padding: 4px 6px;
}

hr {
  background-color: #aaa;
  border: none;
}

fieldset {
  border: 1px solid #bbb;
}

input {
  font-size: 105%;
}

header,
section,
article,
footer {
  display: block;
}

/* Layout ----------------------------------------------------------------- */
.clearfix {
  display: block; /* Fixes some FireFox rendering quirks */
}

#header {
  padding: .7em 0;
}

#logo {
  float: left;
  padding-right: 1em;
}

#name-and-slogan {
  height: 100px;
  float: left;
  padding-left: 10px;
}

#site-name {
  display: block;
  font-family: Myriad, "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 270%;
  line-height: 1em;
  position: relative;
  top: 20px;
}

#site-name a {
  text-decoration: none;
  color: #555;
}

#site-slogan {
  color: #999;
  line-height: 1em;
  position: relative;
  top: 20px;
}

.front #page-title { /* Boron prints the page title twice on the home page */
  display: none;
}

.region-header { /* For blocks in the header */
  float: right;
  padding: .5em .5em 0;
}

#navigation {
  height: 4em; /* Be sure to adjust the margin below to match */
}

#navigation .section h2 {
  display: none; /* See: http://drupal.org/node/995986 */
}

.with-navigation #content,
.with-navigation #sidebar-first,
.with-navigation #sidebar-second {
  margin-top: 4em; /* Be sure to adjust the height above to match */
}

#highlighted {
  border: 5px solid #ddd;
  margin-bottom: 1em;
  padding: .75em 1em;
}

#sidebar-first {
  margin-right: -230px;
  width: 230px;
}

.sidebar-first #sidebar-first .section,
.two-sidebars #sidebar-first .section {
  padding: 0 20px 0 0;
}

.sidebar-first #content .section {
  padding-left: 230px;
}

#sidebar-second {
  width: 230px;
  margin-left: -230px;
}

.sidebar-second #content .section {
  padding-right: 230px;
}

.sidebar-second #sidebar-second .section,
.two-sidebars #sidebar-second .section {
  padding: 0 0 0 20px;
}

.two-sidebars #content .section {
  padding-left: 230px;
  padding-right: 230px;
}

.sidebar-first #content .section,
.sidebar-second #content .section,
.two-sidebars #content .section {
  clear: both;
}

#footer {
  border-top: 1px solid #ccc;
  padding: 1em 1.5em;
  margin-top: 1em;
}

/* Navigation ------------------------------------------------------------- */
#main-menu {
  padding: 0 0 6px 8px;
  border-bottom: 1px solid #ccc;
  line-height: 20px;
}

#main-menu li {
  display: inline;
}

#main-menu li a {
  background-color: #eee;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #555;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  margin-right: .5em;
  padding: 8px 15px;
  text-decoration: none;
}

#main-menu li a.active,
#main-menu li a:hover {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
}

/* System ----------------------------------------------------------------- */

/* Menu Tabs */
ul.tabs {
  padding: 0 0 4px 8px;
}

ul.tabs li a {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #555;
  padding: 4px 12px;
  margin-right: .25em;
}

ul.tabs li a.active,
ul.tabs li a:hover {
  color: #000;
}

/* Pager */
/* Drupal Pager Styles */
.pager {
  clear: both;
  margin: 1em 0;
  color: #555;
}

.item-list .pager li {
  padding: .15em;
  margin: 0;
}

.pager li a {
  color: #444;
  padding: 3px 7px;
  background-color: #eee;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.pager a:hover {
  color: #000;
  background-color: #fff;
  border-color: #999;
}

/* Search Result Pages */
.search-results {
  margin-left: 0;
  padding-left: 0;
}

.search-results h3.title {
  font-size: 1.2em;
  margin-bottom: .15em;
}

.search-results p.search-snippet {
  margin: 0px 0px;
}

.search-results .search-snippet-info {
  margin: 0 0 1.5em 0;
  padding-left: 0;
}

.search-results .search-snippet strong {
  background-color: #FFFFDD;
}

.search-results .search-info,
.search-results .search-info a {
  color: #777;
}

/* Blocks ----------------------------------------------------------------- */
.sidebar .block {
  margin-bottom: 1em;
}

.sidebar .block h2 {
  color: #555;
  font-size: 125%;
  margin: 0;
  border-bottom: 1px dotted #ccc;
}

.sidebar .block ul.menu {
  margin-top: 0;
  padding-left: 1em;
}

.sidebar .section .block { /* Sidebar blocks */
  border: 1px solid #eee;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 1px 1px #bbb;
  -webkit-box-shadow: 1px 1px 1px #bbb;
  box-shadow: 1px 1px 1px #bbb;
  padding: 8px 10px;
}

#block-search-form {
  padding-left: 10px;
}

#edit-search-block-form--2 {
  width: 115px;
}

/* Nodes ------------------------------------------------------------------ */
.node-teaser {
  margin-bottom: 3em;
}

.node-teaser header h2 a {
  color: #000;
  text-decoration: none;
}

.node-teaser header h2 a:hover {
  color: #555;
}

.submitted {
  border-top: 1px solid #ccc;
  color: #999;
  font-size: 80%;
  margin: 0;
  padding-top: 3px;
  margin-bottom: 1em;
}

.submitted a {
  color: #888;
}

.field-type-taxonomy-term-reference div.field-label { /* Taxonomy terms */
  padding-right: .3em;
  color: #777;
}

.field-type-taxonomy-term-reference div.field-item {
  display: inline;
  padding-right: .6em;
}

.field-type-taxonomy-term-reference div.field-item a {
  color: #888;
}

.node .content h2 {
  font-size: 130%;
}

.node footer { /* Node links */
  text-align: right;
}

.node footer ul.links li {
  padding: 0 .5em 0 0;
}

/* Comments --------------------------------------------------------------- */
/* Comment */
.comment-wrapper {
  padding-right: 5%;
}

.comment {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.comment-by-node-author header {
  background: #eeeeff;
}

.comment header {
  width: 17%;
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 7px;
  text-align: center;
  float: left;
}

.comment .user-picture img {
  background: #ccc;
  border: none;
  padding: 2px;
}

.comment header h3 { /* Hide the comment title */
  display: none;
}

.comment .submitted {
  color: #888;
  font-size: 70%;
  line-height: 1.1em;
  text-align: left;
}

.comment .submitted a {
  color: #666;
}

.comment .submitted a.permalink {
  display: block;
  margin-bottom: .5em;
}

.comment .content {
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: right;
  padding: 5px 7px;
  margin-bottom: .4em;
  width: 75%;
}

.comment .user-signature {
  color: #999;
  font-size: 85%;
}

.comment .user-signature p {
  margin: 0;
}

.comment .user-signature a {
  color: #888;
}

.comment footer {
  text-align: right;
  clear: right;
  display: block;
}

/* Comment Form */
.comment-form .form-item {
  margin: 0 0 .5em;
}

.comment-form .text-format-wrapper .form-item {
  margin-bottom: 0;
}

.filter-wrapper {
  color: #888;
  font-size: 80%;
  line-height: 1.1em;
}

.filter-wrapper .form-item {
  margin-top: 0;
}

.comment-form #edit-actions {
  margin-top: 1em;
}